APP_NAME=LnchBx
APP_KEY=
APP_ENV=local
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://127.0.0.1:8000
DB_CONNECTION=pgsql
BASE_PW=p@ssw0rd
FOURSQUARE_URL=https://api.foursquare.com/v2/venues
FOURSQUARE_CLIENT_ID=
FOURSQUARE_CLIENT_SECRET=

